{
	"root": true,
	"env": {
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"no-undef": "warn",
		"no-empty": "warn",
		"no-useless-escape": "warn",
		"no-mixed-spaces-and-tabs": "off",
		"@typescript-eslint/no-extra-semi": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-inferrable-types": "off",
		"@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "_" }]
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
	]
}
